@model IEnumerable<TimeProductivityTracking.web.Models.Productivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monthly)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SECName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task_P)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryMentor_P)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchevedDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryMentor_A)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monthly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SECName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task_P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryMentor_P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchevedDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks_A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryMentor_A)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
