@model List<TimeProductivityTracking.web.Models.Productivity>

@{
    ViewData["Title"] = "Create";
}

<h4>Create Productivities</h4>
<hr />

<form asp-action="Create">
    <div class="mb-3">
        <label for="SelectedMonth" class="form-label">Select a Month</label>
        @Html.DropDownList("SelectedMonth", ViewBag.Months as List<SelectListItem>, "Please Select a Month",
                 new { @class = "form-control w-25", required = "required" })
    </div>

    <table class="table table-bordered table-striped align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>SEC Name</th>
                <th>County</th>
                <th>Planned This Month (Hours)</th>
                <th>Task This Month</th>
                <th>Planned Next Month (Hours)</th>
                <th>Task Next Month</th>
                <th>Mentor Planned</th>
                <th>Achieved This Month (Hours)</th>
                <th>Task Achieved</th>
                <th>Mentor Achieved</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].SECName"
                               class="form-control form-control-sm text-start"
                               readonly
                               style="min-width: 180px; white-space: normal;" />
                    </td>
                    <td>
                        <input asp-for="@Model[i].County"
                               class="form-control form-control-sm text-center"
                               style="width: 90px;" readonly />
                    </td>
                    <td>
                        <input asp-for="@Model[i].PlannedDays"
                               value="0"
                               class="form-control form-control-sm text-center" />
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model[i].Task_P,
                                 new SelectList(Enum.GetValues(typeof(Tasks)).Cast<Tasks?>()),
                                 "Select ..",
                                 new { @class = "form-control form-control-sm" })
                    </td>
                    <td>
                        <input asp-for="@Model[i].PlannedNextMonth"
                               value="0"
                               class="form-control form-control-sm text-center" />
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model[i].Task_N,
                                 new SelectList(Enum.GetValues(typeof(Tasks)).Cast<Tasks?>()),
                                 "Select ..",
                                 new { @class = "form-control form-control-sm" })
                    </td>
                    <td>
                        <input asp-for="@Model[i].CountryMentor_P"
                               value="@User.Identity.Name"
                               class="form-control form-control-sm text-center" />
                    </td>
                    <td>
                        <input asp-for="@Model[i].AchevedDays"
                               value="0"
                               class="form-control form-control-sm text-center" />
                    </td>
                    <td>
                        @Html.DropDownListFor(Model => Model[i].Tasks_A,
                                 new SelectList(Enum.GetValues(typeof(Tasks)).Cast<Tasks?>()),
                                 "Select ..",
                                 new { @class = "form-control form-control-sm" })
                    </td>
                    <td>
                        <input asp-for="@Model[i].CountryMentor_A"
                               value="@User.Identity.Name"
                               class="form-control form-control-sm text-center" />
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
