@model IEnumerable<TimeProductivityTracking.web.Models.Invoice>




    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Contractor</th>
                <th>Email</th>
                <th>Month</th>
                <th>Invoice NO</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Contractor.FName @item.Contractor.LName</td>
                <td>@item.Contractor.Email</td>
                <td>@item.Month</td>
                <td>@item.InvoiceNumber</td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       asp-route-month="@item.Month"
                       asp-route-ContractorId="@item.ContractorId">
                        Details
                    </a>
                </td>

            </tr>
        }
        </tbody>
        
    </table>
        
        